In [ ]:
cd /content/drive/My Drive/Colab Work/SNA_Final_Project

In [ ]:
!git clone https://github.com/jwlin/ptt-web-crawler.git

In [ ]:
cd /content/drive/My Drive/Colab Work/SNA_Final_Project/ptt-web-crawler

In [ ]:
from PttWebCrawler.crawler import *

In [ ]:
c = PttWebCrawler(as_lib=True)
c.parse_articles(0, 500, 'WomenTalk')

In [ ]:
!pip3 install ujson

In [ ]:
import ujson

node_list_1 = []
node_list_2 = []

with open('/content/drive/My Drive/Colab Work/SNA_Final_Project/ptt-web-crawler/WomenTalk-0-500.json') as json_file:
    data = ujson.load(json_file)
    for p in data['articles']:
        for i in p['messages']:
            try:
                if(len(p['author'])>1):
                    node_list_1.append(p['author'].split(' (')[0])
                    node_list_2.append(i['push_userid'])
            except:
                print('Nontype error')

In [ ]:
import pandas as pd
nodel_list_count = [ 1 for i in range(0,len(node_list_1))]
ptt_df = pd.DataFrame({'node_1': node_list_1, 'node_2': node_list_2, 'node_3': nodel_list_count})

In [ ]:
ptt_df_group = ptt_df.groupby(['node_1', 'node_2']).agg({'node_3': "sum"})

In [ ]:
ptt_df_group.to_csv('./test.csv',index = True)

In [ ]:
ptt_df_group = pd.read_csv('./test.csv')

In [ ]:
ptt_df_group

        node_1      node_2  node_3
0           A6          A6      28
1           A6      CNTsai       2
2           A6      QQGirl      10
3           A6       R3210       2
4           A6    Silywuns       4
...        ...         ...     ...
200070  給我男人拜託  xiangni514       1
200071  給我男人拜託     yamacha       1
200072  給我男人拜託        yc11       1
200073  給我男人拜託    yinglian       1
200074  給我男人拜託      zhinan       1

[200075 rows x 3 columns]

In [ ]:
def set_pandas_display_options() -> None:
    # Ref: https://stackoverflow.com/a/52432757/
    display = pd.options.display

    display.max_columns = 100
    display.max_rows = 100
    display.max_colwidth = 100
    display.width = None
    # display.precision = 2  # set as needed

set_pandas_display_options()

In [ ]:
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt

G = nx.from_pandas_edgelist(ptt_df_group,'node_1','node_2', edge_attr='node_3')

In [ ]:
# plot graph
plt.figure(figsize=(20,20))

pos = nx.random_layout(G, seed=23)
nx.draw(G, with_labels=True,  pos = pos, node_size = 40, alpha = 0.6, width = 0.1)

plt.show()

In [ ]:
!git clone https://github.com/taynaud/python-louvain.git

In [ ]:
import community as community_louvain
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import networkx as nx

# load the karate club graph

# compute the best partition
partition = community_louvain.best_partition(G)

# draw the graph
pos = nx.spring_layout(G)
# color the nodes according to their partition
cmap = cm.get_cmap('viridis', max(partition.values()) + 1)
nx.draw_networkx_nodes(G, pos, partition.keys(), node_size=40,
                       cmap=cmap, node_color=list(partition.values()))
nx.draw_networkx_edges(G, pos, alpha=0.5)
plt.show()